@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#0251BB;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   padding-left:30px ;
   padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

header .logo{
    width: 20px;
   
}
header .header-image {
    width: 200px;
   margin-top: 0px;
   margin-left: 5px;
   
}

.sidebar {
    
    margin-top: 70px;
    height: 575px;
    width: 250px;
    list-style: none;
    background-color: #DEEEFE
    
    
  }
  .sidebar li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 25px;
    text-decoration: none;
    color: black;
    
    text-transform: uppercase;
    border-bottom: 1px solid silver;
    transition: background-color 0.5s;
  }
  .sidebar li a:hover {
    background-color: #818181;
    font-weight: bold;
    color: white;
  }